@font-face {
    font-family: "FormulaBlack";
    src: local("Formula1-Black"), url(../../styles/fonts/Formula1-Black.ttf) format("truetype");
    
  }
@font-face {
    font-family: "FormulaRegular";
    src: local("Formula1-Regular"),url(../../styles/fonts/Formula1-Regular.ttf) format("truetype");
  }
@font-face {
    font-family: "FormulaBold";
    src: local("Formula1-Bold"), url(../../styles/fonts/Formula1-Bold.ttf) format("truetype");
    
  }
@font-face {
    font-family: "FormulaWide";
    src: local("Formula1-Wide"), url(../../styles/fonts/Formula1-Wide.ttf) format("truetype");
    
  }
td{
    font-family: FormulaRegular ;
}
td span{
    font-family: FormulaBold;
}

 
table{
    margin-top:20px;
    
}   
th,tr,td{
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(0, 0, 0);
    text-align: center;
    padding: 10px;
}