/* Fuentes */
@font-face {
    font-family: "FormulaBlack";
    src: local("Formula1-Black"), url(fonts/Formula1-Black.ttf) format("truetype");
    
  }
@font-face {
    font-family: "FormulaRegular";
    src: local("Formula1-Regular"),url(fonts/Formula1-Regular.ttf) format("truetype");
  }
@font-face {
    font-family: "FormulaBold";
    src: local("Formula1-Bold"), url(fonts/Formula1-Bold.ttf) format("truetype");
    
  }
@font-face {
    font-family: "FormulaWide";
    src: local("Formula1-Wide"), url(fonts/Formula1-Wide.ttf) format("truetype");
    
  }
body{
    font-family: FormulaBold ;
   
}
nav{
    height: 6rem;
    position: fixed;
    font-family: FormulaRegular ;
    backdrop-filter: blur(4px);
    background-color:rgba(79, 165, 204, 0.419);
    width:100%;
    font-size: 1.3rem; 
    z-index: 1;
}
 
a {
    color: black ;
    text-decoration: none; 
     
}
button:hover,a:hover{
    transform: translateY(-7px);
    transition: 0.3s ease-in;   
    color: rgb(0, 0, 0);
}

button {
    border-radius: 10px;
    background-color: transparent;
    /* border: 2px solid rgb(0, 0, 0); */
}

.home-section {
    height:80vh;
    padding-left:70px;
    padding-right:70px ;
   /*  background-image: url("/images/fondo.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
}


.jugar button{
    color: white;
    margin-left:11rem;
}
.card-1{
    color: rgb(0, 0, 0);
    padding:20px;
    border-radius: 40px;
    margin-left:10rem;
}
.card-1 h1{
    font-size: 3rem;
    
}
.card-1 p{
    font-size: 1rem;
    
}
td{
    font-family: FormulaRegular ;
}
td span{
    font-family: FormulaBold;
}
.ranking{
    min-height:100vh;
    padding-left:70px;
    padding-right:70px ;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
 

th,tr,td{
    color: rgb(0, 0, 0);
    border: 1px solid rgb(0, 0, 0);
}
.banner-ranking{
    height:100px;
   
    background-color: rgb(0, 0, 0);
    backdrop-filter: blur(10px);

}
.banner-ranking button {
    
    color: white;
    border:0;
    border-radius: 0;
    border-bottom: 1px solid ;

}
.Reglas{
    height:70vh;
    padding-left:70px;
    padding-right:70px ;
    margin-bottom:200px;
}
.card{
    border:0;
    width:400px;
    letter-spacing: 4px;
}